{{>header}}
{{>sidebar}}
<div class="card mb-3">
  <!--<div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(<?php echo base_url('assets/admin/');?>img/icons/spot-illustrations/corner-4.png);"></div>-->
  <div class="card-header">
    <div class="row flex-between-center">
      <div class="col d-flex justify-content-between">
        <h5 class="mb-0">{{data}}</h5>
      </div>
    </div>
  </div>
  <div class="card-body bg-light">
    <form>
      <div class="mb-3 name-cont">
        <label class="form-label" for="company">Name</label>
        <input type="hidden" id="id" value="{{users.id}}">
        <input class="form-control" id="name" type="text" placeholder="First Name" value="{{users.name}}" />
        <small class="text-danger font-weight-bold" id="first-name-error"></small>
      </div>

      <div class="mb-3 email-cont">
        <label class="form-label" for="ex-email">Customer Email address</label>
        <input class="form-control" id="ex-email" type="text" placeholder="name@example.com" value="{{users.email}}" />
        <small class="text-danger" id="email-error"></small>
      </div>
      <div class="mb-3 mobile-cont">
        <label class="form-label" for="mobile">Customer Mobile</label>
        <input class="form-control" id="phone" type="text" placeholder="Customer mobile" value="{{users.phone}}" />
        <small class="text-danger" id="mobile-error"></small>
      </div>


      <div class="mb-3 password-cont">
        <label class="form-label" for="password"> Password</label>
        <input class="form-control" id="password" type="text" placeholder="Customer Password"
          value="{{users.password}}" />
        <small class="text-danger" id="password-error"></small>
      </div>
      <div class="mb-3">
        <label class="form-label text-info cursor-pointer"
          onclick='document.getElementById("password").value = Password.generate(16)'>Generate Password</label>
      </div>
      <div id="submit-btn-container">
        <button class="btn btn-success" type="button" id="save-btn-custom">Submit</button>
      </div>
    </form>
  </div>
</div>
{{>footer}}
<script>
  $(document).on('click', '#save-btn-custom', function () {
    var reg_email = /^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/;
    var name = $('#name').val();
    var id = $('#id').val();
    var email = $('#ex-email').val();
    var phone = $('#phone').val();
    var password = $('#password').val();

    if (password == "") {
      $('.password-cont').removeClass('mb-3');
      $('#password-error').text("Enter Password.*").css('font-style', 'italic');
    } else if (password.length < 5) {
      $('.password-cont').removeClass('mb-3');
      $('#password-error').text("Password length should min 5.*").css('font-style', 'italic');
    } else {
      $('.password-cont').addClass('mb-3');
      $('#password-error').text("");
    }

    if (name == "") {
      $('.name-cont').removeClass('mb-3');
      $('#name-error').text('Enter Name.*').css('font-style', 'italic');
    } else {
      $('.name-cont').addClass('mb-3');
      $('#name-error').text('');
    }

    if (email == "") {
      $('.email-cont').removeClass('mb-3');
      $('#email-error').text('Enter user email address.*').css('font-style', 'italic');
    } else if (!reg_email.test(email)) {
      $('.email-cont').removeClass('mb-3');
      $('#email-error').text('Enter valid email address.*').css('font-style', 'italic');
    } else {
      $('.email-cont').addClass('mb-3');
      $('#email-error').text('');
    }

    if (name != "" && email != "" && password != "" && password.length >= 5 && reg_email.test(email)) {

      $.post("/admin/update-user", { id: id, name: name, email: email, phone: phone, password: password }, function (data) {
        console.log(data);
        if (data === 'Record Updated') {
          sessionStorage.setItem('updated', true);
          window.location.href = "/admin/get-users";
        } else if (data === 'already') {
          $('.email-cont').removeClass('mb-3');
          $('#email-error').text('Email already registered.*').css("font-style", "italic");
        }
      });

    }

  });
</script>
<script>
  (function ($) {
    $.fn.inputFilter = function (inputFilter) {
      return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {
        if (inputFilter(this.value)) {
          this.oldValue = this.value;
          this.oldSelectionStart = this.selectionStart;
          this.oldSelectionEnd = this.selectionEnd;
        } else if (this.hasOwnProperty("oldValue")) {
          this.value = this.oldValue;
          this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
        } else {
          this.value = "";
        }
      });
    };
  }(jQuery));
  $("#mobile").inputFilter(function (value) {
    return /^-?\d*$/.test(value);
  });
</script>

<script>
  var Password = {

    _pattern: /[a-zA-Z0-9_\-\+\.]/,


    _getRandomByte: function () {
      $('.password-cont').addClass('mb-3');
      $('#password-error').text("");
      // http://caniuse.com/#feat=getrandomvalues
      if (window.crypto && window.crypto.getRandomValues) {
        var result = new Uint8Array(1);
        window.crypto.getRandomValues(result);
        return result[0];
      }
      else if (window.msCrypto && window.msCrypto.getRandomValues) {
        var result = new Uint8Array(1);
        window.msCrypto.getRandomValues(result);
        return result[0];
      }
      else {
        return Math.floor(Math.random() * 256);
      }
    },

    generate: function (length) {
      return Array.apply(null, { 'length': length })
        .map(function () {
          var result;
          while (true) {
            result = String.fromCharCode(this._getRandomByte());
            if (this._pattern.test(result)) {
              return result;
            }
          }
        }, this)
        .join('');
    }

  };
</script>